<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <link th:href="@{/styles/common/menuNav.css}" rel="stylesheet"/>
</head>

<body>
    <div th:fragment="menuNavFragment">
        <div id="nav" class="navDiv">
            <a onclick="closeNav()" class="closeBtn">&times;</a>
            <p class="quickSearchText">Quick search:</p>
            <input type="text" class="quickSearchInput" placeholder="Enter a id or a card name">
            <a href="/home">Home</a>
            <a href="/collection">Collection</a>
            <a>My decks</a>
            <a>Storage objects</a>
        </div>
        <span class="openBtn" onclick="openNav()">&#9776; MyMTGLibrary</span>
        <script src=" /js/common/menuNav.js" type="text/javascript"></script>
    </div>
</body>

</html>