#footer {
    margin-top: 5vh;
    height: 10vh;
    width: auto;
    padding: 1vw;
    fill: rgb(211, 211, 211);
    background-color: rgb(211, 211, 211);
}

#authorText {
    font-size: 3vh;
}

#versionText {
    font-size: 2vh;
}