<body>
    <p id="welcomeText">MTGLibrary</p>

    <div class="imageCarousel">
        <img src="mtg-back.jpg" id="img1">
        <img src="mtg-back.jpg" id="img2">
        <img src="mtg-back.jpg" id="img3">
        <img src="mtg-back.jpg" id="img4">
        <img src="mtg-back.jpg" id="img5">
    </div>

    <div class="importExportDiv">
        <div class="importDiv">
            <span>Import collection</span>
        </div>

        <div class="exportDiv">
            <span>Export collection</span>
        </div>
    </div>
</body>