<body>
    <p id="welcomeText">Welcome to MyMTGLibrary</p>

    <div class="imageCarousel">
        <img src="mtg-back.jpg" id="img1">
        <img src="mtg-back.jpg" id="img2">
        <img src="mtg-back.jpg" id="img3">
        <img src="mtg-back.jpg" id="img4">
        <img src="mtg-back.jpg" id="img5">
        <img src="mtg-back.jpg" id="img6">
        <img src="mtg-back.jpg" id="img7">
    </div>

    <div class="importDiv">
        <span class="importExportText">Import collection</span>
    </div>

    <div class="exportDiv">
        <span class="importExportText">Export collection</span>
    </div>
</body>