<header id="topbar">
    <span id="cardSearchContainer">
            <em id="cardSearchText">Search card: </em>
            <input id="searchInput" placeholder="Card name or id">
    </span>

    <span class="authorIndicator">By Javier Martín</span>
    <span class="versionIndicator">Current version: 0.3.0</span>

    <div class="menu-tabs">
        <span class="tab">Collection</span>
        <span class="divider">||</span>
        <span class="tab">Decks</span>
        <span class="divider">||</span>
        <span class="tab">Storage
            <span class="help-icon">?</span>
        </span>
    </div>
</header>

<div class="main">
    <router-outlet/>
</div>