<header class="topbar">
    <div class="cardSearchDiv">
        <div class="cardSearchContainer">
            <em class="cardSearchText">Search card: </em>
            <input class="searchInput" placeholder="Card name or id" [(ngModel)]="searchString" (keydown)="performCardSearch($event)">
        </div>

        <img class="homeIcon" src="home.png" (click)="redirect('home')">

        <div class="authorVersionDiv">
            <span class="authorIndicator">By Javier Martín</span>
            <span class="versionIndicator">Current version: 0.3.0</span>
        </div>
    </div>

    <div class="menu-tabs">
        <span class="tab" (click)="redirect('collection')">Collection</span>
        <span class="divider">||</span>
        <span class="tab" (click)="redirect('decks')">Decks</span>
        <span class="divider">||</span>
        <span class="tab" (click)="redirect('storage')">Storage</span>
        <span class="help-icon">?</span>
    </div>
</header>

<div class="main">
    <router-outlet/>
</div>
