<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CardDetails</title>
    <link th:href="@{/styles/details/cardDetails.css}" rel="stylesheet"/>
</head>

<body>
    <p th:text="${currentCard.name}" id="cardNameText">Card name</p>
    <div class="detailsContainer">
        <img th:src="${currentCard.imageUris.normal}" id="cardImageFull">

        <div class="cardDetailsInnerContainer">
            <div class="detailsContainer">
                <p class="detailText">Card type: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.typeLine}">Type</p>
            </div>

            <div class="detailsContainer">
                <p class="detailText">Mana cost: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.manaCost}">Mana cost</p>
            </div>

            <div class="detailsContainer">
                <p class="detailText">Color identity: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.colorIdentity.get(0)}">Color identity</p>
            </div>

            <div class="detailsContainer">
                <p class="detailText">Cmc: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.cmc}">Cmc</p>
            </div>

            <div class="detailsContainer">
                <p class="detailText">Power: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.power}">Power</p>
            </div>

            <div class="detailsContainer">
                <p class="detailText">Toughness: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.toughness}">Thoughness</p>
            </div>

            <div class="detailsContainer">
                <p class="detailText">Description: </p>
                <p class="detailText detailInfo" th:utext="${currentCard.oracleText}">Description</p>
            </div>
        </div>
    </div>
</body>

<footer>
  <div th:insert="common/footer :: footerFragment"></div>
</footer>

</html>