body {
    background-color: gray;
    margin: 0;
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}

#collectionTitleText {
    font-size: 7vh;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.noCardsText {
    font-size: 10vh;
    align-self: center;
    text-align: center;
    padding: 5%;
}

.cardDiv {
    display: inline-flex;
    flex-direction: column;
}

.cardImage {
    width: 20vw;
    height: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
}

.changeSideButton {
    align-self: center;
    height: 4vh;
    width: auto;
    margin-top: -2vh;
}

.copiesText {
    font-size: 3vh;
    text-align: center;
    margin-top: 0.5vh;
    margin-bottom: 2vh;
}

/*Filters*/

#filtersDiv {
    background-color: darkgray;
    height:0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

#openCloseFiltersButton {
    background: none;
}

.colorImage {
    width: 2vh;
    height: auto;
}