body {
    background-color: gray;
    margin: 0;
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}

#welcomeText {
    font-size: 7vh;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
}