<body>
    <p class="cardNameText">Card name</p>
    <div class="mainContentDiv">
        <div class="imageDiv">
            <img class="cardImage" src="mtg-back.jpg">
            <span class="cardCopiesText">Card not saved</span>
            <span class="updateCardButton">SaveCard</span>
        </div>

        <div class="detailsDiv">
            <div class="detailDiv">
                <span class="detailInfoText">Creature type:</span>
                <span class="detailText">type</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Card subtype:</span>
                <span class="detailText">subtype</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Mana cost:</span>
                <span class="detailText">cost</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Color identity:</span>
                <span class="detailText">identity</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Cmc:</span>
                <span class="detailText">cmc</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Rarity:</span>
                <span class="detailText">rarity</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Set:</span>
                <span class="detailText">set</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Power:</span>
                <span class="detailText">power</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Toughness:</span>
                <span class="detailText">toughness</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Description</span>
                <span class="detailText">description</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Eur price:</span>
                <span class="detailText">price</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Usd price:</span>
                <span class="detailText">price</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText cardmarketLink">Cardmarket</span>
            </div>
        </div>
    </div>
</body>
