<body>
    <p class="cardNameText">{{currentCard.name}}</p>
    <div class="mainContentDiv">
        <div class="imageDiv">
            <img id="cardImage" src="{{currentCard.image_uris.border_crop}}">

            @if(currentCard.copies <= 0) {
                <span class="cardCopiesText">Card not saved</span>
                <span class="updateCardButton">SaveCard</span>
            } @else {
                <div class="cardSavedDiv">
                    <div class="outerCopiesDiv">
                        <span class="cardCopiesText">Copies: </span>
                        <div class="cardCopiesDiv">
                            <span class="sumSubCopiesSymbol">-</span>
                            <span class="copiesNumber">99</span>
                            <span class="sumSubCopiesSymbol">+</span>
                        </div>
                    </div>
                    <div class="upadteDeleteDiv">
                        <span class="updateDeleteButton upadteButton">Update</span>
                        <span class="updateDeleteButton">Delete</span>
                    </div>
                </div>
            }
        </div>

        <div class="detailsDiv">
            <div class="detailDiv">
                <span class="detailInfoText">Spell type:</span>
                <span class="detailText">{{currentCard.spellType}}</span>
            </div>
            
            @if (currentCard.subType != null) {
                <div class="detailDiv">
                    <span class="detailInfoText">Card subtype:</span>
                    <span class="detailText">{{currentCard.subType}}</span>
                </div>
            }

            <div id="manaCostDiv" class="detailDiv">
                <span class="detailInfoText">Mana cost:</span>
                @for (symbol of manaCosts; track $index) {
                    <img class="symbolImage" src={{symbol}}>
                }
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Color identity:</span>
                @if (colorIdentity.length > 1) {
                    @for (symbol of colorIdentity; track $index) {
                        <img class="symbolImage" src={{currentCard.color_identity[$index]}}>
                    }
                } @else {
                    <span class="detailText">Colorless</span>
                }
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Cmc:</span>
                <span class="detailText">{{currentCard.cmc}}</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Rarity:</span>
                <span class="detailText">{{currentCard.rarity}}</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Set:</span>
                <span class="detailText">{{currentCard.setDTO.name}}</span>
                <img class="setImage {{currentCard.rarity}}" src="{{currentCard.setDTO.icon_svg_uri}}">
            </div>
            
            @if (currentCard.power != null) {
                <div class="detailDiv">
                    <span class="detailInfoText">Power:</span>
                    <span class="detailText">{{currentCard.power}}</span>
                </div>
            }
            
            @if (currentCard.toughness != null) {
                <div class="detailDiv">
                    <span class="detailInfoText">Toughness:</span>
                    <span class="detailText">{{currentCard.toughness}}</span>
                </div>
            }

            <div class="desciptionDiv">
                <span class="detailInfoText">Description:</span>
                <br>
                <br>
                @for (text of cardDescription; track $index) {
                    @if(text.includes("@")) {
                        <img class="symbolImage" src="{{text.substring(0,text.length-1)}}">
                    }
                }
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Eur price:</span>
                <span class="detailText">{{currentCard.prices.eur}}</span>
            </div>
            <div class="detailDiv">
                <span class="detailInfoText">Usd price:</span>
                <span class="detailText">{{currentCard.prices.usd}}</span>
            </div>
            <div class="detailDiv">
                <a href="{{currentCard.purchase_uris.cardmarket}}" class="detailInfoText">Cardmarket</a>
            </div>
        </div>
    </div>
</body>
