<body>
    <p class="collectionTitle">Collection</p>

    <div class="filtersDiv">
        <div class="topTitleFiltersDiv">
            <span class="filtersTitleText">Filters</span>
            <img class="openCloseFiltersButton" src="filter.png">
            <div class="zoomDiv">
                <img class="zoomImage" src="zoom-out.png">
                <span class="zoomText">50%</span>
                <img class="zoomImage" src="zoom-in.png">
            </div>
        </div>

        @if (true) {
            <span class="filterIndicator">Creature type:</span>
            <span class="filterIndicator">Card subtype:</span>
        }
    </div>
</body>
