.collectionTitle {
    color: white;
    font-size: 8vh;
    text-align: center;
    margin-top: 0;
}

.filtersDiv {
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;
    border-top: #4d4d4d solid;
    border-bottom: #4d4d4d solid;
    overflow: hidden;
}

.topTitleFiltersDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.filtersTitleText {
    color: white;
    font-size: 4vh;
    text-align: start;
    margin-left: 1vw;
}

.openCloseFiltersButton {
    height: 4vh;
    width: auto;
    margin-left: 1vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    cursor: pointer;
}

.zoomDiv {
    height: 5vh;
    background-color: #ccc7bd;
    border: #4d4d4d solid;
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin-right: 1vw;
    padding-left: 1vw;
    margin-top: 0.5vh;
}

.zoomImage {
    height: 3.5vh;
    width: auto;
    margin-right: 1vw;
    cursor: pointer;
}

.zoomText {
    font-size: 4vh;
    margin-right: 0.5vw;
}

.filterDiv {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

.filterIndicator {
    color: white;
    font-size: 3vh;
}

.filterInput {
    background-color: #4d4d4d;
    border: none;
    border-color: #4d4d4d;
    border-radius: 10px;
    width: 30vw;
    height: 4vh;
    color: white;
    font-size: 3vh;
    margin-left: 1vw;
}

.applyResetFiltersButton {
    color: white;
    background-color: #4d4d4d;
    font-size: 3vh;
    border: #303030 solid;
    border-radius: 10px;
    padding: 0.5vh 0.5vw;
    margin-right: 1vw;
    cursor: pointer;
    user-select: none;
}

.applyResetFiltersButton:hover {
    filter: brightness(0.7);
}