body {
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#mainContainer {
    position: relative;
    min-height: 100vh;
}

#cardNameText {
    font-size: 7vh;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 5vh;
}

#cardImageFull {
    margin-right: 5vw;
    margin-left: 5vw;
    width: 20vw;
    align-self: center;
}

#changeSideButton {
    height: 5vh;
    width: auto;
    align-self: center;
    font-size: 4.5vh;
    margin-top: -3vh;
}

.horizontalContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2vh;
}

#imageDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

#detailsDiv {
    display: inline-block;
    align-items: self-start;
    width: 50vw;
    margin-left: 10vw;
}

.detailText {
    white-space: nowrap;
    text-align: start;
    font-size: 3vh;
    margin-bottom: -2vh;
}

.detailInfo {
    white-space: pre-line;
    margin-left: 1vw;
}

.symbolImage {
    width: auto;
    height: 3vh;
    margin-right: 0px;
    margin-left: 0px;
}

.setImage {
    width: auto;
    height: 3vh;
}

#cardRegisterUpdateDiv {
    width: 30vw;
    margin-left: 10vw;
    display: inline-block;
    align-self: center;
    align-items: flex-start;
}

.cardRegisterUpdateLabel {
    font-size: 5vh;
    margin-right: 2vw;
    margin-top: 2vh;
    white-space: nowrap;
    text-align: center;
}

.cardRegisterUpdateButton {
    font-size: 3vh;
    margin-top: 2vh;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

#copiesInput {
    margin-top: 2vh;
    margin-right: 2vw;
    width: 5vw;
    height: 5vh;
    font-size: 4.5vh;
}

.updateDeleteButton {
    width: 8vw;
    height: 5vh;
    margin-right: 3vw;
}

#footer {
    margin-top: 5vh;
    height: 10vh;
    width: auto;
    padding: 1vw;
    fill: rgb(211, 211, 211);
    background-color: rgb(211, 211, 211);
}