body {
    background-color: gray;
}

#cardNameText {
    font-size: 7vh;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 5vh;
}

#cardImageFull {
    margin-right: 5vw;
    margin-left: 10vw;
    width: 35vh;
}

.horizontalContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2vh;
}

#imageDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

#detailsDiv {
    display: inline-block;
    align-items: self-start;
    width: 50vw;
    margin-left: 10vw;
}

.detailText {
    white-space: pre-line;
    text-align: start;
    font-size: 3vh;
    margin-bottom: -2vh;
}

.detailInfo {
    margin-left: 1vw;
}

.symbolImage {
    width: 2vw;
    height: 2vh;
    margin-right: 0px;
    margin-left: 0px;
}

.cardRegisterUpdateDiv {
    width: 30vw;
}

.cardRegisterUpdateLabel {
    font-size: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    white-space: nowrap;
    text-align: center;
}

.cardRegisterUpdateButton {
    font-size: 3vh;
    margin-top: 2vh;
    white-space: nowrap;
    text-align: center;
}

#copiesInput {
    margin-top: 2vh;
    max-width: 3vw;
}

#footerDiv {
    position: absolute;
    left: 0;
    margin-left: 1vw;
    bottom: 0;
}