<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>My collection</title>
        <link th:href="@{/styles/collection/collection.css}" rel="stylesheet"/>
        <link th:href="@{/styles/common/menuNav.css}" rel="stylesheet"/>
        <link th:href="@{/styles/common/footer.css}" rel="stylesheet"/>

        <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    </head>

    <body onload="checkToReloadPage()">
        <div id="pageContainer">
            <div th:insert="common/menuNav :: menuNavFragment"></div>
            <p id="collectionTitleText">My collection</p>
            <p th:if="${cards.isEmpty() && !filtering}" class="noCardsText">No cards saved, nothing to show!</p>
            <p th:if="${cards.isEmpty() && filtering}" class="noCardsText">No cards match the filter!</p>
            <tr th:each="card: ${cards}">
                <div class="cardDiv">
                    <a th:href="|http://localhost:8010/details/id/${card.id}|">
                        <img th:if="${card.cardFaces == null}" th:src="${card.imageUris.normal}" class="cardImage">
                        <img th:if="${card.cardFaces != null}" th:id="${card.id}" th:src="${card.cardFaces.get(0).imageUris.normal}" class="cardImage">
                    </a>
                    <button th:if="${card.cardFaces != null}" class="changeSideButton" 
                            th:attr="onclick=|changeSideOfCardById('+${card.id}+','+${card.cardFaces.get(0).imageUris.normal}+','+${card.cardFaces.get(1).imageUris.normal}+')|">change</button>
                    <p class="copiesText" th:text="|Copies: ${card.copies}|">Copies</p>
                </div>
            </tr>
        </div>

        <footer id="footer">
            <div th:insert="common/footer :: footerFragment"></div>
        </footer>

        <script src=" /js/collection/collection.js" type="text/javascript"></script>
    </body>

</html>