<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link th:href="@{/styles/home/home.css}" rel="stylesheet"/>
  <link th:href="@{/styles/common/menuNav.css}" rel="stylesheet"/>
  <link th:href="@{/styles/common/footer.css}" rel="stylesheet"/>
</head>

<body>
  <div th:insert="common/menuNav :: menuNavFragment"></div>
  <h1>Welcome to MyMTGLibrary</h1>
  <button>List all cards</button>
  <input placeholder="Search a card">
  <button>Search</button>
</body>

<footer>
  <div th:insert="common/footer :: footerFragment"></div>
</footer>

</html>